

/* Generel Rules */
body            { margin: 0px; }
div             { display: block; position: absolute; }

/* AD */
#ad-container   { width: 1024px; height: 768px; background: #000; }
.frame          { width: 100%; height: 100%; }
.bg-pic         { width: 100%; height: 100%; background: url('background_1024x768.jpg'); opacity: 0;}

.flag-container { left: 452px; top: 594px; width: 67px; height: 39px; } /* height = flag-line-height * 13  */
.flag-back      { width: 0%; height: inherit; background: #262b69; }
.flag-lines     { width: 100%; height: 100%; }
.flag-line      { width: 0%; height: 3px; background: #FFF; position: relative; }
.half           { width: 0%; }
.red            { background: #922427; }

.logo           { width: 166px; height: 49px; top: 495px; left: 431px; background: url('netflix_logo_1024x768.png'); opacity: 0;}
.title          { width: 499px; height: 63px; top: 588px; left: 264px; background: url('title_1024x768.png'); opacity: 0; }
.subtitle       { width: 334px; height: 27px; top: 556px; left: 346px; background: url('subtitle_1024x768.png'); opacity: 0; }
.txt            { width: 430px; height: 30px; top: 663px; left: 300px; background: url('txt_1024x768.png'); opacity: 0; } 
.cta1           { width: 183px; height: 38px; top: 708px; left: 322px; background: url('watch_trailer_btn_1024x768.png'); opacity: 0; z-index: 2; cursor: pointer; } 
.cta1:hover     { background: url('watch_trailer_btn_hover_1024x768.png'); }
.cta2           { width: 183px; height: 38px; top: 708px; left: 525px; background: url('watch_now_btn_1024x768.png'); opacity: 0; z-index: 2; cursor: pointer; } 
.cta2:hover     { background: url('watch_now_btn_hover_1024x768.png'); }

.vid-player     { width: 100%; height: 100%; }
.vid-close      { top: 10px; left: 10px; width: 30px; height: 30px; background: url('close_btn_1024x768.png'); z-index: 2; cursor: pointer; }
.vid-close:hover{ background: url('close_btn_hover_1024x768.png'); }

.bg-exit        { width: 100%; height: 100%; cursor: pointer; }
.close-btn      { top: 10px; left: 984px; width: 30px; height: 30px; background: url('close_btn_1024x768.png'); display: none; cursor: pointer; }
.close-btn:hover{ background: url('close_btn_hover_1024x768.png'); }