@import url(https://fonts.googleapis.com/css?family=Roboto:Light);

body,
#ad,
#ad_container{
    position: absolute;
    overflow: hidden;
    width: 300px;
    height: 250px;
    cursor: pointer;
    margin: 0;
}

#ad_container{
    visibility: hidden;
}

#ad {

    box-sizing: border-box;
    border: solid 1px #444444;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

span {
    font-family:'Roboto', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 200;
    letter-spacing: 1px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.rez {
    width: 300px;
    height: 250px;
}

.pos {
    position: absolute;
}

.noviz {
    visibility: hidden;
}

.shift {
    top: -1px;
    left: -1px;
}

.copy_1 {
    letter-spacing: -0.6px;
    width: 300px;
    top: 72px;
    left: 12px;

}

.copy_2 {
    width: 300px;
    top: 96px;
    left: 12px;
}

.copy_3 {
    letter-spacing: -0.2px;
    width: 300px;
    top: 120px;
    left: 12px;
}

.copy_4 {
    letter-spacing: -0.2px;
    width: 300px;
    top: 144px;
    left: 12px;
}

.copy_5 {
    width: 300px;
    top: 71px;
    left: 13px;
    letter-spacing:-0.1px;
}

.copy_6 {
     width: 300px;
     top: 96px;
     left: 12px;
    letter-spacing:-0.05px;
}

.copy_7 {
    width: 300px;
    top: 119px;
    left: 12px;
    letter-spacing:-0.05px;
}

span {
    margin-right: -5px;
}

.bar {
    top: 76px;
    left: 0px;
    width: 3px;
    height: 85px;

    background-image:url(300x250_bar.png);
    background-size:3px 85px;
}

.white_foreground {
    background-color: #fff;
}

.cta {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
}

.replay {
    top: 6px;
    left: 282px;
}


.product{
    position:absolute;
    left:0px;
    top:0px;
    width:310px;
    height:250px;
    background-image:url(br1801G0019_211012_us_dellemc_li_li_fy18q1_oa_ge_300x250_product.png);
    background-size:contain;
}

.bg_1 {
    background-image:url(background_1.jpg);
    background-size:contain;
}

.guides {
    background-image:url(br1801G0019_211012_us_dellemc_li_li_fy18q1_oa_ge_300x250_guides.png);
    background-size:contain;
}
